<nav class="bl-studio__sidenav" #sideNav>
    <div class="bl-studio__logo">
        <i class="pi pi-bars" (click)="toggleSideNav(sideNav)"></i>
        <img src="favicon.ico" class="brand-logo" />
    </div>
    <div class="bl-studio__menu">
        <ul class="bl-studio__ul">
            <li class="bl-studio__li">
                <i class="pi pi-home"></i>
                <a href="#">
                    Dashboard
                </a>
            </li>
            <li class="bl-studio__li">
                <i class="pi pi-home"></i>
                <a href="#">
                    Dashboard
                </a>
            </li>
            <li class="bl-studio__li">
                <i class="pi pi-home"></i>
                <a href="#">
                    Dashboard
                </a>
            </li>
        </ul>
    </div>
</nav>
<main class="bl-studio__main">
    <app-nav-bar></app-nav-bar>
    <router-outlet></router-outlet>
</main>